#UploadFilesPanel {
    background-color: rgba(0, 0, 0, 0.43);
    width: 100%;
    height: 100%;
    margin: 0px;
    position: absolute;
    padding-top: 10%;
    z-index: 3;
    margin-top: -20px;
    animation: animUploadFilePanel 1s 1 alternate;
}

#ListElementPanel{
    background-color: rgba(0, 0, 0, 0.43);
    width: 100%;
    height: 100%;
    margin: 0px;
    position: absolute;
    padding-top: 10%;
    z-index: 5;
    margin-top: -20px;
    animation: animUploadFilePanel 1s 1 alternate;
}

#ListElementPanel > div > div > div.panel-body > div.col-lg-3.panel.panel-default,
#ListElementPanel > div > div > div.panel-body > div.col-lg-5.panel.panel-default,
#ListElementPanel > div > div > div.panel-body > div.col-lg-4.panel.panel-default{
    height:50vh;
}

#ListElementPanel1 div
{
	 padding-top:initial;
	 position:initial;
}

#UploadFilesPanel div
{
	 padding-top:initial;
	 position:initial;
}

#CanvasElementEditor {
    height: 40vh;
    padding: 0;
    min-height: 315px;
}

.file_upload{
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    transition: box-shadow 0.1s linear
}
.file_upload.focus{
    box-shadow: 0 0 5px rgba(0,30,255,0.4)
}
.file_upload > button{
    background: #7300df;
    transition: background 0.2s;
    border: 1px solid rgba(0,0,0,0.1);
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #fff;
    text-shadow: #6200bd 0 -1px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}
.file_upload:hover > button{
    background: #6200bd;
    text-shadow: #5d00b3 0 -1px 0
}
.file_upload:active > button{
    background: #5d00b3;
    box-shadow: 0 0 3px rgba(0,0,0,0.3) inset
}
.panel-default .panel-heading {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}
.my-drop-zone {
    background-image: url(images/download.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 199px;
    text-align:center;

    animation: animBackground 1s infinite alternate; 
}
@keyframes animBackground { 
    from {
        background-size: 60%; 
    }

    to {
        background-size: 20%; 
    }
}

.my-drop-zone:hover {
    animation:none;
    background-size: 40%;
}
#UploadFilesPanel > div.col-md-9 > div.alert.alert-warning.fade.in{
    padding-top:15px;
}
.trFile {
    animation: animTrFile 1s 1 alternate;
}
@keyframes animTrFile {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


#CanvasElementEditor > canvas {
    top:1px!important;
    left: 16px!important;
    border-radius:3px;
}

@keyframes animUploadFilePanel {
    from {
        opacity: 0;
        top:0;

    }
    to{
        opacity:1;
        top:9%;

    }
}
#buttonCanvas{

    z-index:2;
}
.headerPanelElementEditor {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

#nameElement {
    font-size: 29px;
}
#nameElement > span {
    color: black;
}
#typeElement {
    font-size: 20px;
}
.btnToolbarBig {
    margin-top:18px;
    margin-right:-16px;
}
.btnAnimIncrease:hover {
    animation: animIncrease 1s 1 normal;
    right: 15px;
}

@keyframes animIncrease{
    from{
        right:0;
    }
    to{
        right:15px;
    }
}
#btnType {
    color: white;
    background-color: #aac69e;
    border-color: #98b68b;
}
#typeElement select {
    color: white;
    background-color: #aac69e;
    border-color: #98b68b;
    border-radius: 3px;
}

.elementItem
{
    border:1px solid white;
    border-radius:5px;
	 margin:1vh;
	 display:inline-block;
	 height:7vh;
	 width:7vh;
	 background-image:url('/Content/images/logo.png');
	 background-size:contain;
	 background-repeat:no-repeat;
	 background-position:center;
}
.elementItem:hover {
    animation: animElemEditor 1s 1 normal;
    width: 8vh;
    background-size: cover;
}
@keyframes animElemEditor {
    from {
        width: 7vh;
    }

    to {
        width: 8vh;
    }
}

.elementItem span {
    display: block;
    height: 2.5vh;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: hidden;
    color: #fff;
    text-shadow: 1px 1px 6px black, 0 0 1em black;
    background-color:rgba(0, 0, 0, 0.25);
    border-radius:5px;
}

.discriptionPanel {
    height:25%;
    
}
.discriptionPanel >div {
    padding-top: 3px;
}
.authorsAndTagsPanel {
    height: 50%;
    margin-bottom: 5px;
}
.authorsAndTagsPanel > div {
    padding-top: 3px;
}
.infoElementEditorPanel {
    height: 40vh;
    min-height: 315px;
}
#ElementEditorPanel > div > div > div:nth-child(2) > div:nth-child(2) > div > div.panel-body {
    height: 100%;
    padding-top:0;
}
.authorsAndTagsPanel > div > ul > li.btn-success,
.authorsAndTagsPanel > div > ul > li.btn-danger {
        float: right;
        border:1px solid white;
        border-radius:5px;
        padding:4px 2px 4px 2px;
        margin:2px;

}
.logoElementEditor {
    height: 140px;
    width: 140px;
    border-radius:5px;
    background-color:white;
    background-image: url(images/logo.png);
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;
    padding:0;
}
.logoElementEditor button {
    width: 100%;
    margin-top: 118px;
    padding: 0 10px 0 10px;
    background-color: rgba(0, 0, 0, 0.25);
    text-shadow: 1px 1px 6px black, 0 0 1em black;
    color:white;
}
.logoElementEditor button:hover{
    color:white;
    background-color:rgba(255, 255, 255, 0.50);
}
#buttonCanvas button {
    background-color: rgba(0, 0, 0, 0.25);
    text-shadow: 1px 1px 6px black, 0 0 1em black;
    color: white;
    border-color:black;
}
#buttonCanvas button:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.50);
    border-color: aliceblue;
}