.RenderArea
{
	 background-color:#a3a3a3;
	 height:98%;
	 z-index:5;
}
.toolBarHeading {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    padding-top: 3px;
    padding-bottom:4px;
    margin-left: 0px;
    padding-left:0;
}
.tab-pane .row {
    height: 81vh;
}

.h100p{
	 height:100%;
}

.h40p{
	 height:40%;
}

.h60p{
	 height:60%;
}

canvas
{
}

.ElementItem:hover {
	 border-color:red;
}

.ElementItem{
	 cursor:pointer;
	 border: 1px solid black;
	 border-radius:2px;
	 margin:0.4vh;
	 display:inline-block;
	 height:4vh;
	 width:4vh;
	 background-image:url(/Content/images/download.png);
	 background-size:contain;
	 background-repeat:no-repeat;
}

.ElementItem span
{
	 display:block;
	 width:4vh;
	 white-space:pre;
	 height:2vh;
	 overflow-x:hidden;
	 overflow-y:hidden;
}