.RenderArea
{
	 background-color:#a3a3a3;
	 height:98%;
	 z-index:5;
}
.toolBarHeading {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    padding-top: 3px;
    padding-bottom:4px;
    margin-left: 0px;
    padding-left:0;
}
.btnTool {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
.btnToolActive {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}
.tab-pane .row {
    height: 89vh;
}

.h100p{
	 height:100%;
}

.h40p{
	 height:40%;
}

.h60p{
	 height:60%;
}

canvas
{
}

.toolEditorNavBar {
    border-bottom: 1px solid #dff0d8;
    text-align: center;
    background-color: #f7fbf6;
}
.toolEditorNavBar > li.active > a {
    color: #3c763d !important;
    background-color: #dff0d8 !important;
    border-color: #d6e9c6 !important;
    font-size: 16px;
    font-weight: bold;
    border-bottom:none;
}
.toolEditorNavBar > li > a {
    color: #3c763d !important;
    background-color: #f0faed;
    margin-right: -5px;
}
.toolEditorNavBar > li {
    width: 200px;
    display: inline-block;
    float: none;
}
#elementItemDescription {
    display:none;
    border: 1px solid #dff0d8;
    z-index:100;
    position: absolute;
    margin: 44vh 0 0 45vw;
    width: 30%;
    height:auto;
	 transition-property:display;
	 transition-duration:1s;
     z-index:200;
}

#elementItemList {
    text-align:center;
    overflow-y: auto;
    height: 100%;
    max-height:40vh;
}
.pressedItem {
    box-shadow: 0 0 10px rgba(255, 0, 0, 1);
}