<div class="row" ng-show="ui.showLestElementPanel" id="ListElementPanel">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="panel panel-success">
            <div class="panel-heading">Elements list</div>
                    <div class="panel-body">
                        <div class="col-xs-6 col-md-3" ng-repeat="n in ui.ElementList track by $index">
                            <a href="#" class="thumbnail">
                                <img src="..." alt="...">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
