
@{
    ViewBag.Title = "Index";
}

<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">View editor</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Logic editor</a></li>
        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Settings</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
				<div class="row">
					 <div class="col-lg-9">
								 <div class="panel panel-default">
									 <div class="btn-toolbar">
										  <div class="btn-group">
												<button class="btn btn-default">New</button>
												<button class="btn btn-default">Open</button>
												<button class="btn btn-default">Save</button>
										  </div>
									 </div>
									<div class="col-lg-12">
													 dsfdfsdfs
									</div>
								 </div>
					 </div>
                <div class="col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">Categories</div>
								<div class="panel-body">
								</div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Element list</div>
                        <div class="panel-body">
                        </div>
                    </div>
                </div>
				</div>
		  </div>
        <div role="tabpanel" class="tab-pane" id="profile">...</div>
        <div role="tabpanel" class="tab-pane" id="messages">...</div>
    </div>

</div>